
.hamburgerWrapper {
    display: none;
    padding: 10px;
    z-index: 100;
    max-width: 3em;
    border-radius: .5em;
    /*background-color: #983081;*/
}
.stickyNavbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
ul {
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding: 1em;
    /*background-color: #983081;*/
    /*border-radius: 1em;*/
}
ul li a {
    text-decoration: none;
    color: #983081;
}
li {
    padding-left: 1em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: larger;
}
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #983081;
}
.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: .5em;
}
.dropdown-menu a {
    color:white;
}
@media screen and (max-width: 600px) {
    ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        font-size: xx-large;
        margin: 0;
    }
    ul li a {
    text-decoration: none;
    color: white;
}
    .stickyNavbar {
        display: flex;
        flex-direction: row-reverse;
    }
    .hamburgerWrapper {
        display: block;
        margin: 1em 1em 0 0;
        max-height: 45px;
        top: 1em;
        z-index: 1001;
        border: 2px solid black;
        background-color: #983081;
    }
    .navActive {
        position: fixed;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #983081;
    }
    .opened {
        border-radius: .5em;
    }
    .dropdown-menu {
        max-width: fit-content;
        padding: 1em 1em 1em 0;
        right: 84px;
    }
}