
ul {
    display: flex;
    justify-content:space-around;
    list-style: none;
    padding: 1em;
    background-color: #983081;
    border-radius: 1em;
}
li {
    padding-left: 1em;
    color: white;
}
.dropdown-menu {
    position: absolute;
    display: none;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
@media screen and (max-width: 600px) {
    ul {
        display: none;
    }
    li{
        display: none;
    }
}